assets/state_machine.json
{
  "StartAt": "TranscribeAudio",
  "States": {
    "TranscribeAudio": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:transcribe:startTranscriptionJob",
      "Parameters": {
        "TranscriptionJobName.$": "States.Format('TranscriptionJob-{}-{}', $.filename, $.timestamp)",
        "LanguageCode": "es-US",
        "MediaFormat": "mp3",
        "Media": {
          "MediaFileUri.$": "States.Format('s3://{{AUDIO_BUCKET}}/{}', $.filename)"
        },
        "OutputBucketName": "{{AUDIO_BUCKET}}",
        "OutputKey.$": "States.Format('transcription_output/{}.json', $.filename)"
      },
      "Next": "GetTranscriptionResult",
      "ResultPath": "$.transcription_result",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "TranscribeFailed"
        }
      ]
    },
    "GetTranscriptionResult": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:s3:getObject",
      "Parameters": {
        "Bucket": "{{AUDIO_BUCKET}}",
        "Key.$": "States.Format('transcription_output/{}.json', $.filename)"
      },
      "Next": "ParseTranscription",
      "ResultPath": "$.transcription_text",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "GetTranscriptionFailed"
        }
      ]
    },
    "ParseTranscription": {
      "Type": "Pass",
      "Parameters": {
        "parsed_body.$": "States.StringToJson($.transcription_text.Body)",
        "filename.$": "$.filename"
      },
      "Next": "ExtractText"
    },
    "ExtractText": {
      "Type": "Pass",
      "Parameters": {
        "transcription.$": "$.parsed_body.results.transcripts[0].transcript",
        "filename.$": "$.filename"
      },
      "Next": "DetectLanguage"
    },
    "DetectLanguage": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:comprehend:detectDominantLanguage",
      "Parameters": {
        "Text.$": "$.transcription"
      },
      "ResultPath": "$.language_detection_result",
      "Next": "IsEnglish",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "LanguageDetectionFailed"
        }
      ]
    },
    "IsEnglish": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.language_detection_result.Languages[0].LanguageCode",
          "StringEquals": "en",
          "Next": "EndState"
        }
      ],
      "Default": "TranslateText"
    },
    "TranslateText": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:translate:translateText",
      "Parameters": {
        "Text.$": "$.transcription",
        "SourceLanguageCode.$": "$.language_detection_result.Languages[0].LanguageCode",
        "TargetLanguageCode": "en"
      },
      "ResultPath": "$.translation_result",
      "Next": "GenerateAudio",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "TranslateFailed"
        }
      ]
    },
    "GenerateAudio": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:polly:startSpeechSynthesisTask",
      "Parameters": {
        "Text.$": "$.translation_result.TranslatedText",
        "OutputFormat": "mp3",
        "VoiceId": "Joanna",
        "OutputS3BucketName": "{{AUDIO_BUCKET}}",
        "OutputS3KeyPrefix.$": "States.Format('translations/{}', $.filename)"
      },
      "Next": "CheckPollyTask",
      "ResultPath": "$.polly_result",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "PollyFailed"
        }
      ]
    },
    "CheckPollyTask": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:polly:getSpeechSynthesisTask",
      "Parameters": {
        "TaskId.$": "$.polly_result.SynthesisTask.TaskId"
      },
      "Next": "CheckPollyTaskStatus",
      "ResultPath": "$.polly_task_status",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "PollyFailed"
        }
      ]
    },
    "CheckPollyTaskStatus": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.polly_task_status.SynthesisTask.TaskStatus",
          "StringEquals": "completed",
          "Next": "EndState"
        },
        {
          "Variable": "$.polly_task_status.SynthesisTask.TaskStatus",
          "StringEquals": "failed",
          "Next": "PollyFailed"
        }
      ],
      "Default": "WaitState"
    },
    "WaitState": {
      "Type": "Wait",
      "Seconds": 15,
      "Next": "CheckPollyTask"
    },
    "EndState": {
      "Type": "Succeed"
    },
    "LanguageDetectionFailed": {
      "Type": "Fail",
      "Error": "LanguageDetectionError",
      "Cause": "Language detection failed"
    },
    "TranscribeFailed": {
      "Type": "Fail",
      "Error": "TranscriptionError",
      "Cause": "Transcription failed"
    },
    "GetTranscriptionFailed": {
      "Type": "Fail",
      "Error": "GetTranscriptionError",
      "Cause": "Getting transcription result failed"
    },
    "TranslateFailed": {
      "Type": "Fail",
      "Error": "TranslationError",
      "Cause": "Translation failed"
    },
    "PollyFailed": {
      "Type": "Fail",
      "Error": "PollyError",
      "Cause": "Polly synthesis failed"
    }
  }
}
