assets/state_machine.json
{
  "Comment": "State machine for detecting language, transcribing, translating, and synthesizing speech",
  "StartAt": "DetectLanguage",
  "States": {
    "DetectLanguage": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:transcribe:startTranscriptionJob",
      "Parameters": {
        "TranscriptionJobName.$": "States.Format('DetectLanguageJob-{}', $.id)",
        "Media": {
          "MediaFileUri.$": "States.Format('s3://{}/{}', $.detail.requestParameters.bucketName, $.detail.requestParameters.key)"
        },
        "IdentifyLanguage": true
      },
      "ResultPath": "$.DetectLanguageOutput",
      "Next": "WaitForLanguageDetection"
    },
    "WaitForLanguageDetection": {
      "Type": "Wait",
      "Seconds": 30,
      "Next": "GetLanguageDetectionStatus"
    },
    "GetLanguageDetectionStatus": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:transcribe:getTranscriptionJob",
      "Parameters": {
        "TranscriptionJobName.$": "$.DetectLanguageOutput.TranscriptionJob.TranscriptionJobName"
      },
      "ResultPath": "$.GetLanguageDetectionOutput",
      "Next": "CheckLanguageDetectionStatus"
    },
    "CheckLanguageDetectionStatus": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.GetLanguageDetectionOutput.TranscriptionJob.TranscriptionJobStatus",
          "StringEquals": "COMPLETED",
          "Next": "CheckDetectedLanguage"
        },
        {
          "Variable": "$.GetLanguageDetectionOutput.TranscriptionJob.TranscriptionJobStatus",
          "StringEquals": "FAILED",
          "Next": "FailState"
        }
      ],
      "Default": "WaitForLanguageDetection"
    },
    "CheckDetectedLanguage": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.GetLanguageDetectionOutput.TranscriptionJob.LanguageCode",
          "StringEquals": "en-US",
          "Next": "IgnoreWorkflow"
        },
        {
          "Not": {
            "Variable": "$.GetLanguageDetectionOutput.TranscriptionJob.LanguageCode",
            "StringEquals": "en-US"
          },
          "Next": "StartTranscriptionJob"
        }
      ]
    },
    "IgnoreWorkflow": {
      "Type": "Pass",
      "Result": "Language is English, workflow ignored.",
      "End": true
    },
    "StartTranscriptionJob": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:transcribe:startTranscriptionJob",
      "Parameters": {
        "TranscriptionJobName.$": "States.Format('TranscriptionJob-{}', $.id)",
        "LanguageCode.$": "$.GetLanguageDetectionOutput.TranscriptionJob.LanguageCode",
        "Media": {
          "MediaFileUri.$": "States.Format('s3://{}/{}', $.detail.requestParameters.bucketName, $.detail.requestParameters.key)"
        },
        "OutputBucketName.$": "$.detail.requestParameters.bucketName"
      },
      "ResultPath": "$.StartTranscriptionOutput",
      "Next": "WaitForTranscriptionJob"
    },
    "WaitForTranscriptionJob": {
      "Type": "Wait",
      "Seconds": 30,
      "Next": "GetTranscriptionJobStatus"
    },
    "GetTranscriptionJobStatus": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:transcribe:getTranscriptionJob",
      "Parameters": {
        "TranscriptionJobName.$": "$.StartTranscriptionOutput.TranscriptionJob.TranscriptionJobName"
      },
      "ResultPath": "$.GetTranscriptionJobOutput",
      "Next": "CheckTranscriptionJobStatus"
    },
    "CheckTranscriptionJobStatus": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.GetTranscriptionJobOutput.TranscriptionJob.TranscriptionJobStatus",
          "StringEquals": "COMPLETED",
          "Next": "StartTranslationJob"
        },
        {
          "Variable": "$.GetTranscriptionJobOutput.TranscriptionJob.TranscriptionJobStatus",
          "StringEquals": "FAILED",
          "Next": "FailState"
        }
      ],
      "Default": "WaitForTranscriptionJob"
    },
    "StartTranslationJob": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:translate:translateText",
      "Parameters": {
        "Text.$": "$.GetTranscriptionJobOutput.TranscriptionJob.Transcript.TranscriptFileUri",
        "SourceLanguageCode.$": "$.GetTranscriptionJobOutput.TranscriptionJob.LanguageCode",
        "TargetLanguageCode": "en"
      },
      "ResultPath": "$.StartTranslationOutput",
      "Next": "StartSpeechSynthesisTask"
    },
    "StartSpeechSynthesisTask": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:polly:startSpeechSynthesisTask",
      "Parameters": {
        "OutputS3BucketName.$": "$.detail.requestParameters.bucketName",
        "OutputS3KeyPrefix": "speech/",
        "Text.$": "$.StartTranslationOutput.TranslatedText",
        "VoiceId": "Joanna",
        "OutputFormat": "mp3"
      },
      "Next": "SuccessState"
    },
    "SuccessState": {
      "Type": "Succeed"
    },
    "FailState": {
      "Type": "Fail",
      "Error": "TranscriptionFailed",
      "Cause": "The transcription job failed."
    }
  }
}
